<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKeyOMDB</key>
	<string>3b0c7c0c</string>
	<key>apiKeyFlickr</key>
	<string>7cbc11a0b9a67da78fcbefb01d79772b</string>
	<key>flickrSecret</key>
	<string>c599f4e8ed12ebdb</string>
</dict>
</plist>
