<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewOMBD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>900F422F1EE9D4BF0057945D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>900F423D1EE9D4C40057945D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE77278A1EDDACE5005BFC69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE7727A11EDDACE5005BFC69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE7727AC1EDDACE5005BFC69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
